* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    background-image: url("/src/images/png/bonito-e-simples-padrao-de-vetor-de-bolinhas-claras-o-inverno-escandinavo-molda-o-fundo-rosa-azul-pa-removebg-preview.png");
    background-repeat: repeat;
}

body {
    background-color: #F4F4F4;
    width: 100%;
    height: 2700px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 900px;
}

#cabecalho {
    display: block;
    background-image: url("/src/images/png/Group\ 22borderPink.png");
    width: 100%;
    height: 700px;
    background-repeat: repeat-x;
}

.logotipo {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    padding-top: 100px;
}